@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

#titulo {
    color: #005C51;
    font-size: 3cm;
    display: none;
    text-align: center;
    font-family: 'Poor Story', cursive;
}
.bt {
    display: none;
    width: 49.8vw;
    height: 100vh;
}
#bt1 {
    background-color: #FF001B;
}
#bt2 {
    background-color: #4D70FF;
}
.pt {
    position: absolute;
    top: 50%;
    left: 25%;
}
#pt2 {
    left: 75%;
}
#back {
    display: none;
    width: 6cm;
    height: 6cm;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
}
#nx {
    display: none;
    width: 6cm;
    padding-top: 30px;
    height: 6cm;
    margin: -25px auto -25px auto;
}
#ag {
    display: block;
    top: 50%;
    width: 80%;
    margin: -25px auto -25px auto;
}